:root, [data-bs-theme=light] {
        --bs-primary: #B88E2F;
}

.card.card-product {
    overflow: hidden;
    .card-hover-state {
        position: absolute;
        inset: 0;
        transition: all 0.1s ease-in-out;
        transform: translate(100%, 0);
     .overlay {
        position: absolute;
        inset: 0;
        background-color: rgba(0, 0, 0, 0.75);
        z-index: 0;
     }
     .hover-content {
        position: relative;
        z-index: 1;
        .social-links {
            a {
                color: #fff;
                text-decoration: none;
            }
        }
     }
    }
    &:hover {
        .card-hover-state {
            transform: translate(0, 0);
        }
    }
}


.link-color {
    width: 1.875rem;
    height: 1.875rem;
    display: inline-block;
}

.bg-purple {
    background-color: #816DFA;
}


.bg-purple {
    background-color: #816DFA;
}

.bg-brown {
    background-color: var(--bs-primary);
}

.progress, .progress-stacked {
    --bs-progress-bar-bg: var(--bs-primary);
}