.card.card-product {
    overflow: hidden;
    .card-hover-state {
        position: absolute;
        inset: 0;
        transition: all 0.1s ease-in-out;
        transform: translate(100%, 0);
     .overlay {
        position: absolute;
        inset: 0;
        background-color: rgba(0, 0, 0, 0.75);
        z-index: 0;
     }
     .hover-content {
        position: relative;
        z-index: 1;
        .social-links {
            a {
                color: #fff;
                text-decoration: none;
            }
        }
     }
    }
    &:hover {
        .card-hover-state {
            transform: translate(0, 0);
        }
    }
}